<div class="text-center">
  <h2>{{name}}</h2> 
  <h3>{{player.name}}h3</h3> 
  Number: {{number}}
  G: {{goals}}
  A: {{assists}}
     {{#each players as |player| }}
  console.log('PROJECT NAME', project.name);
  console.log(player);
  {{player.name}}
  {{number}}
  {{/each}}
</div>
