<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
   <p>project start</p>
    {{#each projects as |project| }}
  console.log('PROJECT NAME', project.name);
  {{project.score}}
  <a href="/project/{{id}}">{{name}}</a> 
  {{/each}}
   {{date}}
  {{score}}
   <p>project after</p>

  <p>{{goalsSummary}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <span for="img" aria-label="money">💲</span>
    <span class="dollar-amount">{{format_amount needed_funding}}</span>
    needed
  </p>
  <p>
    <button class="btn btn-primary">Fund this Project!</button>
  </p>
</div>
